


.about {
    padding: 40px 10px 0 10px;
    // .about__container

    &__container {
    }

    // .about__title

    &__block{
        display: grid;
    }

    &__title {
        text-transform: uppercase;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (max-width: 1260px) {
           flex-direction: column;
           align-items: flex-start;
           gap: 40px;
        }
    }
}
.title {

    // .title__text

    &__text {
        max-width: 794px;
        
        
    }

    // .title__order

    &__order {
        text-decoration: underline;
        font-size: 18px;
        @media (max-width:1260px) {
            display: none;
        }
    }
}


.furniture {
    padding-top: 40px;
display: flex;
justify-content: space-between;
@media (max-width: 1260px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
   
}
    // .furniture__left

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 1260px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 40px;
           
        }
    }

    // .furniture__text

    &__text {
        display: block;
        font-weight: 400;
        font-size: 20px;
        max-width: 445px;
        line-height: 140%;
    }

    &__order{
        display: none;
        @media (max-width:1260px) {
            display: block;
        }
    }

    // .furniture__img

    &__img {
        align-self: flex-end;
        margin-right: auto;
        @media (max-width: 1260px) {
            display: none;
        }
    }

    // .furniture__big-img

    &__big-img {
        @media (max-width: 1260px) {
           max-height: 700px;
           height: 100%;
           width: 100%;
        }
        @media (max-width:800px) {
            max-height: 532px;
            max-width: 342px;
        }
    }
}


.info {
    
    padding-top: 120px;
    @media (max-width:800px) {
        padding-top: 48px;
    }
    display: flex;
    justify-content: space-between;
    @media (max-width: 1260px) {
        flex-direction: column;
        gap: 40px;
    }
    // .info__title

    &__title {
        font-family: 'Helvetice', 'Roboto', sans-serif;
        font-weight: 400;
        max-width: 562px;
        @media (max-width: 1260px) {
            display: none;
        }
    }

    &__title2{
        display: none;
        @media (max-width: 1260px) {
            display: block;
        }
    }
    // .info__more

    &__more {
        padding-right: 233px;
        @media (max-width:1260px) {
            padding: 0;
        }
    }

    // .info__text

    &__text {
        padding: 0;
        font-size: 16px;
        max-width: 446px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 44px;
        
    }

    // .info__text-itm

    &__text-itm {
        @media (max-width:800px) {
            width: 100%;
        }
    }

    // .info__list

    &__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    // .info__items

    &__items {
        font-size: 16px;
       span{
        font-size: 36px;
       }
    }
}


.how {
    padding-top: 140px;
    @media (max-width:800px) {
        padding-top: 48px;
    }
    // .how__block

    &__block {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1260px) {
            flex-direction: column;
            gap: 40px;
        }
    }

    // .how__title

    &__title {
        font-family: 'Helvetica', 'Roboto', sans-serif;
        font-weight: 400;
    
    }

    // .how__right

    &__right {
    }
}
.right-how {
    max-width: 678px;
    // .right-how__title

    &__title {
        font-size: 16px;
        max-width: 325px;
        margin-bottom: 44px;
        @media (max-width:800px) {
            margin-bottom: 12px;
        }
    }

    // .right-how__text

    &__text {
        display: flex;
        padding: 24px 0 24px 0;
        justify-content: space-between;
        @media (max-width: 1260px) {
            flex-direction: column;
           /*  gap: 40px; */
        }
    }

    // .right-how__main

    &__main {
       
        font-family: 'Helvetica', 'Roboto', sans-serif;
        font-weight: 400;
        line-height: 150%;
        margin-right: 20px;
    }

    // .right-how__discription

    &__discription {
        font-size: 16px;
        max-width: 329px;
        line-height: 150%;
        @media (max-width: 1260px) {
            max-width: 100%;
            line-height: 140%;
            font-size: 14px;
        }
    }

    // .right-how__line

    &__line {
        height: 1px;
        background-color: black;
    }
}

@media (max-width:500px) {
    .furniture__big-img{
        max-width: 342px;
    }
    .title__text{
        font-size: 32px;
line-height: 120%;
text-transform: uppercase;
    }
    .furniture__left{
        font-size: 16px;
line-height: 140%;
max-width: 328px;
    }
    .furniture__order{
       
font-size: 18px;
    }
    .info__title{
       
font-size: 28px;
    }
    .info__text{
       
font-size: 16px;
line-height: 140%;
    }
    .info__list{
        
        font-size: 16px;
        line-height: 140%;
        max-width: 161px;
        span{
          
            font-size: 24px;
        }
    }
    .how__title{
        font-size: 28px;

    }
    .right-how__title{
        font-size: 16px;
line-height: 140%;
    }
    .right-how__main{
        font-size: 24px;
    }
}

.swiper-pagination-bullet{
    color: black;
    background: black;
}

