 

a{
    text-decoration: none;
    color: black;
}

.header {
    font-family: 'Roboto', sans-serif;
    // .header__container

    &__container {
        padding: 12px 10px 0px 10px;
    }

    // .header__block

    &__block {
        display: flex;
        gap: 207px;
        align-items: flex-start;
         @media (max-width:800px) {
            align-items: center;
       }
    }

    // .header__logo

    &__logo {
        margin-right: auto;
        width: 70px;
        max-width: 100%;
        @media (max-width:800px) {
            height: 41px;
            width: 39px;
       }
    }

    // .header__nav

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        
        @media (max-width:800px) {
            display: none;
        }
    }

    // .header__nav-items

    &__nav-items {
        font-weight: 400;
        font-size: 18px;
        margin: 0;
    }

    // .header__phone

    &__phone {
        text-decoration: none;
        color: black;
        align-self: flex-start;
        @media (max-width:800px) {
            display: none;
        }
    }
    &__burger{
        @media (min-width:800px) {
            display: none;
        }
    }
}

