a {
  text-decoration: none;
  color: black;
}

.header {
  font-family: "Roboto", sans-serif;
}
.header__container {
  padding: 12px 10px 0px 10px;
}
.header__block {
  display: flex;
  gap: 207px;
  align-items: flex-start;
}
@media (max-width: 800px) {
  .header__block {
    align-items: center;
  }
}
.header__logo {
  margin-right: auto;
  width: 70px;
  max-width: 100%;
}
@media (max-width: 800px) {
  .header__logo {
    height: 41px;
    width: 39px;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}
@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
}
.header__nav-items {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.header__phone {
  text-decoration: none;
  color: black;
  align-self: flex-start;
}
@media (max-width: 800px) {
  .header__phone {
    display: none;
  }
}
@media (min-width: 800px) {
  .header__burger {
    display: none;
  }
}