.projects {
   
    // .projects__container

    &__container {
        padding: 120px 10px 0 10px;
    
    }

    // .projects__title

    &__title {
        font-family: 'Helvetica', 'Roboto', sans-serif;
        font-weight: 400;
        margin-bottom: 32px;
    }

    // .projects__list
    &__slider{
        @media (min-width:800px) {
            display: none;
        }
       
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 580px 580px;
        gap: 20px       ;
        grid-auto-rows: 580px;
        grid-auto-columns: 445px;
        padding: 0;
        margin: 0;
        @media (max-width:1260px) {
            grid-template-columns: repeat(2, 360px);
        }
        @media (max-width:800px) {
            display: none;
        }
    }

    // .projects__items

    &__items {
        width: 100%;
        position: relative;
        overflow: hidden;
        img{
            max-height: 580px;
            
        }
        a{
            position: absolute;
            z-index: 998;
            right: 0%;
            left: 0%;
            bottom: 0.5%;
            background: #2125298a;
            width: 100%;
            padding: 22px 0px 22px 22px;
            color: white;
            display: none;
            font-family: 'Robot', sans-serif;
            font-weight: 400;
            font-size: 16px;
           img{
            left: 88%;
            position: absolute;
            z-index: 999;
           }
        }
        &:hover{
            a{
                display: block; 
            }
        }
       
    }


}

.slider__items{
    a{
        display: block;
    }
    
}

