.footer__container {
  padding: 120px 10px 10px 10px;
}
@media (max-width: 800px) {
  .footer__container {
    padding: 60px 10px 10px 10px;
  }
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1260px) {
  .footer__block {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
}
.footer__aveji {
  font-weight: 400;
  font-size: 18px;
}
@media (max-width: 1260px) {
  .footer__aveji {
    text-align: center;
  }
}
.footer__policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 800px) {
  .footer__policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
@media (max-width: 800px) {
  .footer__policy span {
    display: none;
  }
}
.footer__social {
  display: flex;
  gap: 40px;
  font-weight: 400;
  font-size: 18px;
}