.footer {

    // .footer__container

    &__container {
        padding: 120px 10px 10px 10px;
        @media (max-width:800px) {
            padding: 60px 10px 10px 10px;
        }
    }

    // .footer__aveji
    &__block{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width:1260px) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 30px;
        }
    }

    &__aveji {
        font-weight: 400;
        font-size: 18px;
        @media (max-width:1260px) {
            text-align: center;
        }
    }

    // .footer__policy

    &__policy {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        @media (max-width:800px){
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;
        }
        span{
            @media (max-width:800px) {
                display: none;
            }
        }
    }

    // .footer__social

    &__social {
        display: flex;
        gap: 40px;
        font-weight: 400;
        font-size: 18px;
    }

    // .footer__vk

    &__vk {
        
    }

    // .footer__tg

    &__tg {
      
    }
}
