.footer__container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 120px 10px 10px 10px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__aveji {
  font-weight: 400;
  font-size: 18px;
}
.footer__policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
.footer__social {
  display: flex;
  gap: 40px;
}
.footer__vk {
  font-weight: 400;
  font-size: 18px;
}
.footer__tg {
  font-weight: 400;
  font-size: 18px;
}